#{extends 'main.html' /}
#{set title:'Order Now' /}
#{set 'moreStyles'}
img{width:300px;height:190px}
#{/set}

#{if flowResponse.interview.hasTextInput}
#{set 'morescripts'}
<script type="text/javascript">

function validate(){
	var requiredFields = $(".required");
	var hasErrors=false;
	var errMsg = "Required Fields:\n";
	for(var i=0;i<requiredFields.length;i++){
		if($("#"+requiredFields[i].id).val()==""){
			$("#"+requiredFields[i].id).parent().addClass("error");
			hasErrors=true;
		}else{
			$("#"+requiredFields[i].id).parent().removeClass("error");
		}
		
	}
	if(!hasErrors){
		$("#theForm").submit();
	}
}
</script>

#{/set}
#{/if}

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
		
		</div>
		<div class="span10">
		<div class="progress progress-info progress-striped">
		
  		<div class="bar" style="width: ${((usrInfo.step/5)*100)}%;text-align:left;height:20px;">
  		${flowResponse.interview.locationId}
  		</div>
		</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span2">
		
		</div>
		<div class="span10">
			<form id="theForm" class="well" method="POST" action="/OrderNow/navigate">
				#{list items:flowResponse.interview.fields, as:'theField'}
    				
					#{if theField.fieldType == 'DISPLAY_TEXT' }
    					<label class="control-label">
    						#{verbatim}${theField.fieldText}#{/verbatim}
    					</label>
					#{/if}
					#{if theField.fieldType == 'RADIO_BUTTONS' }
    					<ul class="thumbnails">
    					#{list items:theField.choices, as:'theChoice'}
    						<li class="thumbnail span4">
    						<a href="/OrderNow/navigate?_action=NEXT&${theField.name}.${theChoice.name}.selected=true">
    							#{verbatim}${theChoice.label}#{/verbatim}
    						</a>
    						</li>
    					#{/list}
    					</ul>
					#{/if}
					#{if theField.fieldType == 'TEXT_INPUT' }
						<div class="control-group">
							<label for="${theField.name}" class="control-label">${theField.fieldText}</label>
        					<input class="focussed #{if theField.required}required#{/if}" type="text" id="${theField.name}" name="${theField.name}" placeholder="${theField.rawValue}"/>
						</div>
					#{/if}
					
				#{/list}
				#{if (!flowResponse.interview.hasChoices && !flowResponse.interview.hasTextInput)}
				<a href="/OrderNow/navigate?_action=NEXT" class="btn btn-primary">Next</a>
        		#{/if}
        		#{if flowResponse.interview.hasTextInput}
				<a href="#" class="btn btn-primary" onClick="validate();">Submit</a>
        		#{/if}
			</form>
				
		</div>
	</div>
</div>
