#{extends 'main.html' /}
#{set title:'Order Now' /}
#{set 'moreStyles'}
img{width:300px;height:190px}
#{/set}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
		
		</div>
		<div class="span10">
		<div class="progress progress-info progress-striped">
		
  		<div class="bar"
       		style="width: 16%;text-align:left;">1.Select Product</div>
		</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span2">
		
		</div>
		<div class="span10">
			<form class="well" method="POST">
				#{list items:flowResponse.interview.fields, as:'theField'}
    				
					#{if theField.fieldType == 'DISPLAY_TEXT' }
    					<label class="control-label">
    						#{verbatim}${theField.fieldText}#{/verbatim}
    					</label>
					#{/if}
					#{if theField.fieldType == 'RADIO_BUTTONS' }
    					<ul class="thumbnails">
    					#{list items:theField.choices, as:'theChoice'}
    						<li class="thumbnail span4">
    						<a href="/OrderNow/step2?selectedProduct=${theField.name}.${theChoice.name}">
    							#{verbatim}${theChoice.label}#{/verbatim}
    						</a>
    						</li>
    					#{/list}
					#{/if}
				#{/list}
				
			</form>
		</div>
	</div>
</div>
