#{extends 'main.html' /}
#{set title:'Home' /}

<br/>
<div class="container-fluid">
#{list items:coupons, as:'coupon'}

<div class="row-fluid">
<ul class="thumbnails">
  <li class="span2">
    <div class="thumbnail">
 	  <img src="/qrCode?couponId=${coupon.couponId}" alt="">
      <h5><a href="/coupon?couponId=${coupon.couponId}">${coupon.couponText}</a></h5>
      <p>${coupon.description}</p>
    </div>
  </li>
</ul>
</div>
<iframe width="5" height="5" src="http://developers.facebook.com/tools/debug/og/object?q=http://barcodegen.herokuapp.com/coupon?couponId=${coupon.couponId}&fbrefresh=true"/>
#{/list}

</div>
