#{extends 'main.html' /}
#{set title:'Home' /}
		<script type="text/javascript">
    	// Enable pusher logging - don't include this in production
    	Pusher.log = function(message) {
      		if (window.console && window.console.log) window.console.log(message);
    	};

    	// Flash fallback logging - don't include this in production
    	WEB_SOCKET_DEBUG = true;

    	var pusher = new Pusher('42124b048eefe2f59ea8');
    	var channel = pusher.subscribe('coupons');
    	channel.bind('new_coupon', function(data) {
    		$.gritter.add({
				// (string | mandatory) the heading of the notification
				title: data.title,
				// (string | mandatory) the text inside the notification
				text: data.description,

				image: data.imgSrc,
				// (bool | optional) if you want it to fade out on its own or just sit there
				sticky: true,
				// (int | optional) the time you want it to be alive for before fading out
				time: ''
			});
    	});
  	</script>

<div class="container-fluid">
	#{list items:coupons, as:'coupon'}
	<div class="row">
		<div class="span1">
		</div>
		<div class="span2">
			<ul class="thumbnails">
			  <li class="span2">
				<div class="thumbnail">
				  <img src="/qrCode?couponId=${coupon.couponId}" alt="">
				  <h5><a href="/coupon?couponId=${coupon.couponId}">${coupon.couponText}</a></h5>
				  <p>${coupon.description}</p>
				</div>
			  </li>
			</ul>
		</div>
		<div class="span2">
			<form action="/deleteCoupon" method="DELETE">
			<button type="submit" class="btn btn-primary">Delete</button>
			<input type="hidden" name="couponId" id="couponId" value="${coupon.couponId}"/>
			</form>
		</div>
		<div class="span7">
		</div>
	</div>
	#{/list}
</div>
