#{extends 'main_noheader.html' /}
#{set title:'Coupon' /}
#{set fbTitle: coupon.couponText /}
#{set fbUrl: 'http://barcodegen.herokuapp.com/coupon?couponId='+ coupon.couponId /}
<br/>
<div class="container">
<div class="row-fluid">
<ul class="thumbnails">
  <li class="span2">
    <div class="thumbnail">
 	  <img src="/qrCode?couponId=${coupon.couponId}" alt="">
      <h5>${coupon.couponText}</h5>
      <p>${coupon.description}</p>
    </div>
  </li>
</ul>
</div>
</div>
<iframe height="1" width="1" src="http://developers.facebook.com/tools/debug/og/object?q=http://barcodegen.herokuapp.com/coupon?couponId=${coupon.couponId}"></iframe>
