#{extends 'main.html' /}
#{set title:'Home' /}
#{set iconImg: 'http://barcodegen.herokuapp.com/qrCode?couponId='+ coupon.couponId /}
#{set fbTitle: coupon.couponText /}
#{set fbUrl: 'http://barcodegen.herokuapp.com/coupon?couponId='+ coupon.couponId /}
<br/>
<div class="container-fluid">
<div class="row-fluid">
<ul class="thumbnails">
  <li class="span2">
    <div class="thumbnail">
 	  <img src="/qrCode?couponId=${coupon.couponId}" alt="">
      <h5>${coupon.couponText}</h5>
      <p>${coupon.description}</p>
    </div>
    <iframe width="5" height="5" src="http://developers.facebook.com/tools/debug/og/object?q=http://barcodegen.herokuapp.com/qrCode?couponId=${coupon.couponId}&fbrefresh=true"/>
  </li>
</ul>
</div>
</div>
