#{extends 'main.html' /}
#{set title:'New Coupon' /}
<br/>
#{ifErrors}
  <div class="alert alert-error">
  #{errors}
       ${error}<br/>
  #{/errors}
  </div>
#{/ifErrors}
<div class="container-fluid">
  <div class="row">
  	<div class="span2">
  	</div>	
    <div class="span10">
      <form class="well" action="/qrCode" method="POST">
        <label for="codeTxt" class="control-label">Coupon Text</label>
        <input class="focussed" type="text" id="codeTxt" name="codeTxt" placeholder="Type something"/>
		<span class="help-inline">This will be used to generate the QR Code</span>
		<label for="title" class="control-label">Caption</label>
		<input class="focussed" type="text" id="title" name="title"/>
		<label for="description" class="control-label">Description</label>
		<textarea class="focussed" id="description" name="description" rows="3"></textarea>	
		<label for="width" class="control-label">Width</label>
		<input class="focussed" type="text" id="width" name="width" placeholder="100"/>
		<label for="height" class="control-label">Height</label>
		<input class="focussed" type="text" id="height" name="height" placeholder="100"/>
		<label for="height" class="control-label">Height</label>
		<input class="focussed" type="text" id="height" name="height" placeholder="100"/>
		<label for="contentType" class="control-label">Image Type</label>
		<select id="contentType" name="contenType">
			<option>JPG</option>
			<option selected>PNG</option>
		</select>
		<label for="codeType" class="control-label">Type of Code</label>
		<select id="codeType" name="codeType">
			<option selected>QR_CODE</option>
			<option>PDF_417</option>
			<option>UPC_A</option>
		</select>
        <div class="form-actions">
        <button type="submit" class="btn btn-primary">Generate</button>
        </div>
      </form>
    </div>
  </div>
</div>
